# ignore .env since it has openAi keys
.env

# ignore node modules
/node_modules


# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*